.Register {
  display: flex;
  justify-content: flex-start;
  margin: 0px;
}

.registerContent {
  display: flex;
  max-height: 100px;
}
.quote {
  width: 500px;
}

.Topic {
  display: block;
  text-align: right;
  margin-top: 50px;
  margin-right: 60px;
}

.step {
  font-size: 18px;
  color: gray;
}
.topic {
  color: rgb(107, 107, 107);
  font-size: 20px;
  margin-top: -10px;
}
.registerContent2 {
  display: block;
  text-align: left;
  margin-left: -30px;
  margin-top: 50px;
}

.back {
  height: 50px;
  width: 50px;
  margin-top: 40px;
  transform: rotate(180deg);
  margin-left: 80px;
}

.backText {
  font-size: 18px;
  margin-top: 70px;
  color: rgb(95, 95, 95);
}

.Register1 {
  color: black;
  text-align: left;
  font-style: normal;
  font-weight: bold;
  font-family: "calibri", sans-serif;
  font-size: 35px;
}

.Register2 {
  color: gray;
  text-align: left;
  font-style: normal;
  font-weight: lighter;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  max-width: 500px;
}

.label {
  font-size: 18px;
  margin-bottom: 50px;
  font-family: "Raleway", sans-serif;
}

input[type="text"] {
  padding: 20px 24px;
  color: black;
  border-radius: 5px;
  width: 400px;
  border-color: black;
  border-width: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
}

input[type="email"] {
  padding: 20px 24px;
  color: black;
  border-radius: 5px;
  width: 400px;
  border-color: rgb(36, 112, 226);
  border-width: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
}

input[type="password"] {
  padding: 20px 24px;
  color: black;
  border-radius: 5px;
  width: 400px;
  border-color: rgb(36, 112, 226);
  border-width: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Raleway", sans-serif;
}

.label4 {
  display: flex;
}

.RegisterButton {
  padding: 20px 24px;
  margin: 0;
  width: 450px;
  position: absolute;
  margin-top: 30px;
  border-radius: 10px;
  background-color: rgb(36, 112, 226);
  color: white;
  border-width: 0px;
  font-size: 18px;
  font-family: "Raleway", sans-serif;
}
